img.actor-token {
	border: initial;
	border-radius: initial;
	max-width: initial;
}

.csb-additional-component input:required {
	outline: 1.5px solid red;
}

.csb-additional-component button.information {
	display: inline-block;
	position: relative;
	height: 1rem;
	width: 1rem;
	background: rgba(0,0,0,0.25);
	border: 2px solid #333;
	border-radius: 1rem;
	font-size: 50%;
	font-weight: bold;
	line-height: 1rem;
	bottom: 0.3rem;
}

