<div class="custom-system-form-field">
    <label for="actorObjectKey">{{{localize 'csb-component-additions.desc.objectKey'}}}</label>
    <input id="actorObjectKey" type="text" data-key="objectKey" value="{{objectKey}}" required="required" />
</div>

<div class="custom-system-form-field">
    <label for="actorWidth">{{{localize 'csb-component-additions.desc.width'}}}<button popovertarget="css-explanation" type="button" class="information">i</button></label>
    <input id="actorWidth" type="text" data-key="width" value="{{width}}" />
</div>

<div class="custom-system-form-field">
    <label for="actorHeight">{{{localize 'csb-component-additions.desc.height'}}}<button popovertarget="css-explanation" type="button" class="information">i</button></label>
    <input id="actorHeight" type="text" data-key="height" value="{{height}}" />
</div>

<div class="csb-additional-info" id="css-explanation" popover>{{{localize 'csb-component-additions.popover.css'}}}</div>

<div class="custom-system-form-field">
    <label for="actorAllowedTemplate">{{{localize 'csb-component-additions.desc.template'}}}</label>
    <input id="actorAllowedTemplate" type="text" data-key="allowedTemplate" value="{{allowedTemplate}}" /><span id="actorTemplateName">{{templateName}}</span>
</div>

<script>
    /* annoyingly, events seem to be tripped from the template and need to be added in-line here */
	var allowedTemplate = document.getElementById('actorAllowedTemplate');
    allowedTemplate.classList.add('custom-system-droppable-container');
    allowedTemplate.addEventListener('dragenter', (ev) => {
        ev.stopPropagation();
        ev.preventDefault();
        allowedTemplate.classList.add('custom-system-template-dragged-over');
    });
    allowedTemplate.addEventListener('dragover', (ev) => {
        ev.stopPropagation();
        ev.preventDefault();
    });
    allowedTemplate.addEventListener('dragleave', (ev) => {
        allowedTemplate.classList.remove('custom-system-template-dragged-over');
    });
    allowedTemplate.addEventListener('drop', async (ev) => {
        ev.stopPropagation();
        ev.preventDefault();
        allowedTemplate.classList.remove('custom-system-template-dragged-over');
        let dropData = JSON.parse(ev.dataTransfer.getData('text/plain'));
        if (dropData) {
            let actor = await getDocumentClass('Actor').fromDropData(dropData);
            if (actor && actor.type === '_template') {
                let oldValue = allowedTemplate.value;
                allowedTemplate.value = actor.id;
                if (oldValue !== allowedTemplate.value) {
                    document.getElementById('actorTemplateName').innerText = game.actors.get(allowedTemplate.value)?.name;
                    allowedTemplate.dispatchEvent(new Event('change', { bubbles: true }));
                }
            }
        }
    });
</script>